{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block navbar %}
{{parent()}}
{% endblock %}

{% block contenu %}
{{parent()}}
<main>
        {{form(form)}}

    </main>
{% endblock %}