{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Contact{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block navbar %}
{{parent()}}

<main>
    <h1>Livre d'or</h1>

   


<div class="container">  
    {{form_start(form)}}

    {# {{form_label(form.nom, 'votre nom :')}} #}
    {{form_widget(form.nom, {'attr':{'class':'', 'placeholder':'Votre nom'}})}}

    {# {{form_label(form.email, 'votre Email :')}} #}
    {{form_widget(form.email, {'attr':{'class':'', 'placeholder':'Votre Email'}})}}
  
    {{form_widget(form.message, {'attr':{'class':'', 'placeholder':'Votre message pour le livre d\'or'}})}}
    {{form_widget(form.envoyer)}}






    {{form_end(form)}}

 
  
</div>

</main>

{% endblock %}
