{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Modification des livres d'ors{% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block navbar %}
{{parent()}}
{% endblock %}

{% block contenu %}
{{parent()}}
<main>
    <h1>Modification du livre d'or</h1>

{{form(form)}}


</main>



{% endblock %}